#wordle-grid { margin: 1%; }
.row { margin: 0px; }
.cell {
    margin: 0px;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 1px solid black;
    background-color: hsl(0, 0%, 100%); /* initial state: gray/empty */
    transition: background 0.2s;
}

.cell[data-state="0"] { background-color: #787c7e; color: white; }  /* absent */
.cell[data-state="1"] { background-color: #c9b458; color: white; }  /* present */
.cell[data-state="2"] { background-color: #6aaa64; color: white; }  /* correct */

input {
    cursor: pointer;
    text-align: center;
}

input:focus {
    outline: none;
}